.navcss{
    display: flex;
    justify-content: center;
    gap: 30px;
    background:#a020f0;
    padding: 20px;
    font-size: 20px;
}

.navlink{
    text-decoration:none ;
    color: #F5F3FF;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s ease;
}
.navlink:hover{
    color:#A78BFA;
    transform: translateY(-3px);
}
.product-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
    text-align: center;
}
.p-card{
    box-shadow: 0 10px 40px rgba(127, 0, 196, 0.18);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 18px;
}
.p-card img {
    width: 150px;
    height: 150px;
    /* object-fit: contain; */
}
.p-card button{
    margin-top: auto;
    border: none;
    padding: 10px 20px;
    background: #ae4eea;
    color: #fff;
    border-radius: 10px;
}
.auth-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.auth-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #A78BFA;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 10px 50px rgba(109, 1, 145, 0.18);
}
.auth{
    display: flex;
    flex-direction: column;
}
.auth button{
    border: none;
    padding: 10px 30px;
    background:#a020f0;
    color: #fff;
    border-radius: 10px;
    align-self: center;
    cursor: pointer;
}
.auth button:hover{
    background-color: #9500f2;
}
.auth input{
    width: 100%;
    border-radius: 10px;
    border: 2px solid #a020f0;
    margin-bottom: 10px;
    padding: 10px;
}
.auth input:focus{
    outline:none;
    order: 2px solid #a020f0;
    box-shadow: 0 0 15px #ae4eea;
}
.auth label{
    font-weight: 500;
}
.auth-box h2{
    margin-bottom: 30px;
}
.auth div p{
    color: red;
    font-size: 14px;
}